subscription-id = xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
env="dev"
resource_group_prefix = "ga-dify"
company_name="generativeagents"
web_ip_security_restrictions = [
  {
    name = "homeTest"
    description = "Home IP Test"
    ip_address_range = "11.12.13.14/32"
  },
]